* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.borderline {
  border-bottom: 1px solid #e7e8eb;
}

.bordertop {
  border-top: 1px solid #e7e8eb;
}
.auth-img-card {
  @apply sticky top-[8px];
  height: calc(100vh - 24px);
  top: 12px;
  object-fit: cover !important;
  background-image: url("./imges/loginBennerImg.png");
  background-size: cover !important;
  border-radius: 20px;
}

.inner-card {
  padding: 1rem 0.9rem !important;
}

.bg-overlay {
  background-image: url("./imges/loginBennerImg.png");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: transparent; */
}

.swiper-pagination {
  @apply absolute bottom-0;
}

.main {
  @apply absolute bottom-[30px] p-[20px] left-0 right-0 text-center text-white;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  border-radius: 20px !important;
}

input:focus-visible {
  outline: 2px solid #f8f9fc;
}
select:focus-visible {
  outline: 2px solid #f8f9fc;
}

.AddClass {
  width: 80px;
  transition: 0.3s ease-in-out;
}
aside.AddClass {
  left: 0px !important;
  transition: 0.3s;
}

.AddClass .ps-sidebar-container {
  width: 80px;
  /* transition: 0.s ease-in-out; */
}

.AddClass .header {
  transition: 0.5s ease-in-out;
}

.AddClass .dashboars-text {
  display: none;
}

.sidebar-container {
  transform: translateX(0); /* Show sidebar */
}

@media (max-width: 768px) {
  .inner-details li {
    margin: 8px 0px;
  }
}

@media (max-width: 991px) {
  aside {
    position: fixed !important;
    top: 0px !important;
    bottom: 0px !important;
    left: -252px !important;
    transition: 0.3s;
  }
  aside.AddClass {
    left: 0px !important;
    transition: 0.3s ease-in-out !important;
  }

  .AddClass .dashboars-text {
    display: block !important;
    transition: 0.9s ease-in-out !important;
  }

  .AddClass .ps-sidebar-container {
    position: relative;
    width: 250px !important;
    transition: 0.3s ease-in-out !important;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 20px 0px #0000000a !important;
    /* background-color: rgb(0, 0, 0, 0.3) !important; */
  }

  .AddClass .bg-overlap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background-color: rgb(0, 0, 0, 0.3) !important;
    width: 100%;
    height: 100%;
    /* overflow-y: auto;
    overflow-x: hidden; */
  }
}

/* ## switch ## */

::-webkit-scrollbar {
  display: none;
}

.checked-text .male {
  background-color: #1479ff;
  color: white;
}
.checked-text .female {
  background-color: #1479ff;
  color: white;
}

/* ## TreatmentList ## */
.TreatmentList ul li button {
  padding: 15px 10px;
}

/*### .calculeter   ###*/
.fc .fc-col-header-cell-cushion {
  padding: 15px;
}

.fc-col-header thead {
  background-color: #ecf4ff;
  /* background-color: blueviolet; */
}

.fc-view-harness {
  /* border-radius: 20px!important; */
  /* background-color: aqua; */
}

.fc-dayGridMonth-view {
  /* border-radius: 20px!important; */
}

.fc-scrollgrid {
  border-radius: 20px !important;
}

.fc-header-toolbar div:nth-of-type(1) {
  order: 2;
}
.fc-header-toolbar div:nth-of-type(2) {
  order: 3;
}
.fc-header-toolbar div:nth-of-type(3) {
  order: 1;
  display: inline-block !important;
}

.fc-today-button {
  background-color: white !important;
  color: rgb(59, 55, 55) !important;
  border: none !important;
  text-transform: capitalize !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.fc-toolbar-chunk .fc-toolbar-title {
  font-weight: 600 !important;
  font-size: 18px !important;
  min-width: 220px !important;
  text-align: center !important;
}

.fc-button-group button {
  background-color: white !important;
  color: rgb(59, 55, 55) !important;
  border: none !important;
  /* margin-left: 160px!important; */
}

.fc-event i {
  color: #0d6efd !important;
}

/* .fc-event b{
  display: none!important;
} */

.show {
 display: block;
}

.hide{
  display: none;
}

.checked-text .Calendar {
  border-bottom: 3px solid #1479ff;
}
.checked-text .Statistics {
  border-bottom: 3px solid #1479ff;
}
